/*
  ████  ███  █   █ █████  ████  ███  █████ █████ █████ █   █
 █     █   █ █   █ █     █     █   █ █     █       █    █ █
  ███  █████ █   █ ███    ███  █████ ███   ███     █     █
     █ █   █  █ █  █         █ █   █ █     █       █     █
 ████  █   █   █   █████ ████  █   █ █     █████   █     █
 DESC: formatting for saveSafety system
*/
#saveSafety {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    padding: 0.5rem 0;
    user-select: none;
}
    #saveSafety label {
        cursor: pointer;
        display: flex;
        gap: 0.5rem;
    }
/* disables flashing when saves are created or deleted */
#ui-dialog-body.saves button {
    transition-duration: 0s;
}