/*
 
 ██████╗  █████╗  ██████╗██╗  ██╗ ██████╗ ██████╗  ██████╗ ██╗   ██╗███╗   ██╗██████╗ 
 ██╔══██╗██╔══██╗██╔════╝██║ ██╔╝██╔════╝ ██╔══██╗██╔═══██╗██║   ██║████╗  ██║██╔══██╗
 ██████╔╝███████║██║     █████╔╝ ██║  ███╗██████╔╝██║   ██║██║   ██║██╔██╗ ██║██║  ██║
 ██╔══██╗██╔══██║██║     ██╔═██╗ ██║   ██║██╔══██╗██║   ██║██║   ██║██║╚██╗██║██║  ██║
 ██████╔╝██║  ██║╚██████╗██║  ██╗╚██████╔╝██║  ██║╚██████╔╝╚██████╔╝██║ ╚████║██████╔╝
 ╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝╚═════╝ 
                                                                                      
*/
/* background color */
body[data-app-theme='dark'] .passage-map .passage-map {
    background-color: #1e1e1e;
}
    /* black blanket to dim the grid lines */
    body[data-app-theme='dark'] .passage-map::before {
        width: 100%;
        height: 100%;
        content: '';
        background: rgb(0,0,0,0.55);
        position: absolute;
        pointer-events: none;
    }


/*
 
 ██╗  ██╗ █████╗ ██╗      ██████╗ 
 ██║  ██║██╔══██╗██║     ██╔═══██╗
 ███████║███████║██║     ██║   ██║
 ██╔══██║██╔══██║██║     ██║   ██║
 ██║  ██║██║  ██║███████╗╚██████╔╝
 ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝ ╚═════╝ 
                                  
*/
/* creates halo that shows when selecteding a passage */
body[data-app-theme='dark'] .passage-map .passage-card.selected::before {
    content: '';
    position: absolute;
    height: calc(110% + 4em);
    width: calc(110% + 4em);
    top: calc(-5% - 2em);
    left: calc(-5% - 2em);
    z-index: -1;
    -webkit-mask-image: radial-gradient(black 28%, transparent 70%);
    background: rgb(154 177 200);
    pointer-events: none;
}


/*
 
 ███╗   ██╗ ██████╗ ██████╗ ███████╗███████╗
 ████╗  ██║██╔═══██╗██╔══██╗██╔════╝██╔════╝
 ██╔██╗ ██║██║   ██║██║  ██║█████╗  ███████╗
 ██║╚██╗██║██║   ██║██║  ██║██╔══╝  ╚════██║
 ██║ ╚████║╚██████╔╝██████╔╝███████╗███████║
 ╚═╝  ╚═══╝ ╚═════╝ ╚═════╝ ╚══════╝╚══════╝
                                            
*/
/* transforms passage squares into circles */
body[data-app-theme='dark'] .passage-map.compact-passage-cards .passage-card .card {
    border-radius: 50% !important;
    padding: 0 !important;
    overflow: initial;
    background: transparent;
    border: none;
}
    /* makes tag color tag up entire height and width of passage circle */
    body[data-app-theme='dark'] .passage-map.compact-passage-cards .passage-card .tag-stripe {
        position: absolute;
        height: 100%;
        width: 100%;
        -webkit-mask-image: radial-gradient(black 66%, transparent 70%) !important;
        background: #3a3f43;
    }
        /* hides uncolored tags from circular node */
        body[data-app-theme='dark'] .passage-map.compact-passage-cards  .passage-card .tag-stripe span.color-undefined,
        body[data-app-theme='dark'] .passage-map.compact-passage-cards  .passage-card .tag-stripe span.color-none {
            display: none;
        }
        /* just styling */
        body[data-app-theme='dark'] .passage-map.compact-passage-cards .tag-stripe::before {
            content: '';
            height: 100%;
            width: 100%;
            background: rgb(0 0 0 / 50%);
            -webkit-mask-image: radial-gradient(transparent 62%, black 70%);
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            pointer-events: none;
        }
            body[data-app-theme='dark'] .passage-map.compact-passage-cards .passage-card .tag-stripe span {
                height: 100%;
                margin: 0 !important;
            }
        
    /* makes passage name appear under circular node */
    body[data-app-theme='dark'] .passage-map .passage-card .card > h2 {
        position: absolute;
        width: max-content;
        text-align: center;
        align-self: center;
        z-index: 2;
        bottom: -1.25em;
        font-size: 1.25em;
    }
        body[data-app-theme='dark'] .passage-map.compact-passage-cards .passage-card .card > h2 {
            pointer-events: none;
            bottom: -1.25em;
            font-size: 2em;
        }
        /* a bit of styling to make name more readable */
        body[data-app-theme='dark'] .passage-map .passage-card .card > h2::before {
            background: #010b16;
            height: 100%;
            width: calc(100% + 0.5em);
            position: absolute;
            content: '';
            z-index: -1;
            left: -0.25em;
            opacity: 0.5;
        }
    /* brings selected and hovered passage cards up in stack */
    body[data-app-theme='dark'] .passage-map.compact-passage-cards.selected .passage-card,
    body[data-app-theme='dark'] .passage-map.compact-passage-cards .passage-card:hover {
        z-index: 40;
    }
    /* shows node content on hover */
    body[data-app-theme='dark'] .passage-map.compact-passage-cards .passage-card:hover .card-content {
        display: block;
        position: absolute;
        z-index: 40;
        top: 65%;
        left: 65%;
        width: 18em;
        max-height: 12em;
        background: rgb(0 0 0);
        border: 2px solid white;
        border-radius: 0 0.5em 0.5em;
        padding: 0 0.4em;
        opacity: 0.8;
        font-size: 1.5em;
        color: white;
    }