body[data-app-theme='dark'] .passage-map .passage-map {
    background-color: #1e1e1e;
}
    body[data-app-theme='dark'] .passage-map::before {
        width: 100%;
        height: 100%;
        content: '';
        background: rgb(0,0,0,0.55);
        position: absolute;
        pointer-events: none;
    }
    
body[data-app-theme='dark'] .passage-map .card-content {
    display: none;
}
    body[data-app-theme='dark'] .passage-map .passage-card .card {
        border-radius: 50% !important;
        padding: 0 !important;
        overflow: initial;
        background: transparent;
        border: none;
    }
        body[data-app-theme='dark'] .passage-map .passage-card .card > h2 {
            position: absolute;
            bottom: -1.75em;
            width: max-content;
            font-size: 2em;
            text-align: center;
            align-self: center;
            z-index: 2;
        }
    body[data-app-theme='dark'] .passage-map .passage-card .tag-stripe {
        position: absolute;
        height: 100%;
        width: 100%;
        -webkit-mask-image: radial-gradient(black 66%, transparent 70%) !important;
        background: #3a3f43;
    }
        body[data-app-theme='dark'] .tag-stripe::before {
            content: '';
            height: 100%;
            width: 100%;
            background: rgb(0 0 0 / 50%);
            -webkit-mask-image: radial-gradient(transparent 62%, black 70%);
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            pointer-events: none;
        }
        body[data-app-theme='dark'] .passage-map .passage-card .tag-stripe span {
            height: 100%;
            margin: 0 !important;
        }

body[data-app-theme='dark'] .passage-map .passage-card::before {
    content: '';
    position: absolute;
    height: calc(110% + 4em);
    width: calc(110% + 4em);
    top: calc(-5% - 2em);
    left: calc(-5% - 2em);
    /* background: rgb(154 177 200 / 0.15); */
    z-index: -1;
    -webkit-mask-image: radial-gradient(black 28%, transparent 70%);
    pointer-events: none;
}
    body[data-app-theme='dark'] .passage-map .passage-card.selected::before {
        background: rgb(154 177 200);
        pointer-events: none;
    }

body[data-app-theme='dark'] .color-orange {
    background: #dc6c00 !important;
}
body[data-app-theme='dark'] .color-blue {
    background: #1246a2 !important;
}
body[data-app-theme='dark'] .color-green {
    background: #239d2b !important;
}
body[data-app-theme='dark'] .color-red {
    background: #bc2621 !important;
}
body[data-app-theme='dark'] .color-purple {
    background: #683198 !important;
}
body[data-app-theme='dark'] .color-yellow {
    background: #b7bc26 !important;
}